.fade-enter-active {
    transition: all 1s ease;
}
.fade-leave-active {
    transform: translateX(500px);
    transition: all 0.8s ease;
}
.fade-enter {
    transform: translateX(-500px);
    transition: all 2s ease;
}
.fade-leave-to {
    transition: all 0.8s ease;
}
