// transition that when the component is enter o leave
.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transform: translateX(-0.65rem);
    transition: all 0.3s ease;
    opacity: 0;
}

// first moment that when the component enter or eave
.slide-fade-enter {
    transform: translateX(0.65rem);
    opacity: 0;
}
.slide-fade-leave-to {
    opacity: 0;
}
