@-webkit-keyframes opacity-change {
    0% {
        -webkit-opacity: 0;
        opacity: 0;
    }
    40% {
        -webkit-opacity: 0.6;
        opacity: 0.6;
    }
    100% {
        -webkit-opacity: 0.6;
        opacity: 1;
    }
}
@keyframes opacity-change {
    0% {
        -webkit-opacity: 0;
        opacity: 0;
    }
    40% {
        -webkit-opacity: 0.6;
        opacity: 0.6;
    }
    100% {
        -webkit-opacity: 0.6;
        opacity: 1;
    }
}
