// Fonts
$family-sans-serif: #{$p-fallback-fonts};

// Navbar
$navbar-item-color: #fff;
$navbar-background-color: #506975;
$navbar-item-hover-color: #506975;
$navbar-item-active-color: #506975;
$navbar-item-hover-background-color: #74c5ed;
$navbar-item-active-background-color: #74c5ed;
