// Fonts
$family-sans-serif: #{$p-fallback-fonts};

// Colors
$primary: $primary;

// Navbar
$navbar-item-color: $white;
$navbar-background-color: $primary;
$navbar-item-hover-color: $winter-sky;
$navbar-item-active-color: $winter-sky;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-radius: 0px;
$navbar-dropdown-boxed-radius: 0px;

//Menu
$menu-item-active-background-color: $primary;
$menu-item-radius: 0px;
